
@{
    ViewBag.Title = "QrAdd";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Qr Add</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Product Add</h3>
                </div>
                <div class="panel-body">
                    <form name="loginForm" id="qrForm" action="/Blog/QrAdd" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Product Name" name="Title" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Desc" name="Desc" type="text" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Stock" name="Stock" type="text" value="">
                            </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <button id="login" type="submit" class="btn btn-lg btn-success btn-block">Product Add</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

