
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Tarik/Views/Shared/_LayoutPage.cshtml";
}
@{int count = 0, i0 = 0, i1 = 0, i2 = 0, i3 = 0; }
@foreach (var item in Model)
{
    if (count == 0)
    {
        i0 = @item;
    }
    else if (count == 1)
    {
        i1 = @item;
    }
    else if (count == 2)
    {
        i2 = @item;
    }
    else if (count == 3)
    {
        i3 = @item;
    }
    count++;
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @i0
                            </div>
                            <div>Blog Yazısı</div>
                        </div>
                    </div>
                </div>
                <a href="/Tarik/Admin/Bloglar">
                    <div class="panel-footer">
                        <span class="pull-left">Yazılara Git</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @i1
                            </div>
                            <div>Kullanıcı</div>
                        </div>
                    </div>
                </div>
                <a href="/Tarik/Admin/Kullanicilar">
                    <div class="panel-footer">
                        <span class="pull-left">Kullanıcılara Git</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @i2
                            </div>
                            <div>Mesaj</div>
                        </div>
                    </div>
                </div>
                <a href="/Tarik/Admin/Mesajlar">
                    <div class="panel-footer">
                        <span class="pull-left">Mesajlara Git</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @i3
                            </div>
                            <div>Site Ayarı</div>
                        </div>
                    </div>
                </div>
                <a href="/Tarik/Admin/Site">
                    <div class="panel-footer">
                        <span class="pull-left">Site Ayarlarına Git</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <!-- /.panel -->
            <!-- /.panel -->
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->